<div class="navi">
	<ul>
		<li><%= link_to "Inicio", home_path %></li>
		<li><%= link_to "Arte", art_path %></li>
		<li><%= link_to "Economía", economy_path %></li>
		<li><%= link_to "Salúd", health_path %></li>
		<li><%= link_to "Sociedad", society_path %></li>
		<li><%= link_to "Politica", politics_path %></li>
		<li><%= link_to "Internacional", international_path %></li>
		<li><%= link_to "Ciencia", science_path %></li>
		<li><%= link_to "Historia", history_path %></li>
		<li><%= link_to "Novedades", novelty_path %></li>
		<li><%= link_to "Gastronomía", gastronomy_path %></li>
		<li><%= link_to "Galería", gallery_path %></li>
	</ul>
</div>